@import url('https://fonts.googleapis.com/css2?family=Archivo&family=VT323&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
  height: 100vh;
  overflow: auto;
  font-family: 'Archivo', sans-serif;
}

.App > * {
  scroll-snap-align: start;
}