@import url('https://fonts.googleapis.com/css2?family=Archivo&family=VT323&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: 'Archivo', sans-serif;
}