.container {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
}

.title {
  font-family: 'VT323', monospace;
  font-size: 4rem;
  margin: 1rem 0;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.description {
  line-height: 1.5;
}

.icon {
  width: 3rem;
  transform: translate(-1rem, 1rem)
}