@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Montserrat&family=VT323&display=swap');

html,
body,
#index,
.App {
  margin: 0;
  min-height: 100vh;
  background-color: #f2f3f4;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-light: #f2f3f4
}

html {
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100vw;
}
