@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

html,
body,
#index,
.App {
  margin: 0;
  min-height: 100vh;
  background-color: #f2f3f4;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-light: #f2f3f4
}
