.container {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  line-height: 1.5;
  padding-top: 4rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
  font-size: 3rem;
  margin: 1rem 0;
  width: 100%;
}

.content {
  padding: 0 1rem;
  margin: 2rem 0;
  line-height: 1.5;
}

.icon {
  width: 3rem;
  transform: translateX(5px);
}