.landingPage {
  background-color: var(--color-light);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  scroll-snap-align: start;
}

.landingPage > * {
  text-align: left;
  width: 100%;
}

.title {
  font-family: 'Archivo', sans-serif;
  font-size: 22vw;
  margin-top: 30vh;
  margin-bottom: 1rem
}

.tagline {
  font-family: 'VT323', monospace;
  padding-left: .5rem;
  margin: .5rem 0;
  font-size: 7vw;
}

.icon {
  position: absolute;
  fill: rgba(0, 0, 0, .5);
  bottom: 0;
  width: 2rem;
  margin-bottom: .25rem;
}