.navbar {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  width: 3rem;
  fill: black;
  /* filter: drop-shadow(1px 1px 0px black) */
}

.front {
  border-bottom: 1px solid #8b9782;
  width: 100%;
  height: 4rem;
  background-color: #BFC5BA;
  isolation: isolate;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.front a {
  padding: 1em;
}

.menuIcon {
  width: 2rem
}

.menuWrapper{
  overflow: hidden;
  border: 1px solid #8b9782;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 2rem;
  height: fit-content;
  width: 100%;
  background-color: #bfc5ba;
  z-index: -3;
}

.menuContent {
  list-style-type: none;
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.menuContent li {
  padding: .5rem;
  border-bottom: 1px solid #8b9782;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
}

.menuContent li:last-child {
  border-bottom: none;
}