.container {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
}

.title {
  font-family: 'VT323', monospace;
  font-size: 16vw;
  margin: 2rem 0;
  text-align: center;
  width: 100%;
}

.content {
  padding: 0 1rem;
  line-height: 1.5;
}

.titleWrapper {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  width: 100%;
}

.image {
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow:
    0px 0.3px 0.1px rgba(0, 0, 0, 0.028),
    0px 0.7px 0.3px rgba(0, 0, 0, 0.04),
    0px 1.3px 0.6px rgba(0, 0, 0, 0.05),
    0px 2.2px 1.1px rgba(0, 0, 0, 0.06),
    0px 4.2px 2.1px rgba(0, 0, 0, 0.072),
    0px 10px 5px rgba(0, 0, 0, 0.1)
  ;
}


.icon {
  width: 3rem;
  transform: translate(15px, 1rem)
}