.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2rem 0 5rem 0;
}

.iconWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: .5rem 0
}

.icon {
  width: 3rem;
}